* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  /*  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch; */
  background: #fefbf0;
  /* display: flex;  */
}
/* .container {
  display: flex;  
  height: 100%;
  width: 100%;
} */

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
